.container {
    background-image:linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.8)), url("image.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.content {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.content > .title-box {
    font-family: Brush Script MT, Brush Script Std, cursive;
    margin: auto;
}

.content > .title-box > h1 {
    font-size: 75px;
    color: #484f4f;
}

.content > .title-box > p {
    text-align: center;
    font-size: 35px;
    color: #77a8a8;
    margin-bottom: 150px;
}

.content > .contact-box {
    margin: auto;
}

.content > .contact-box > p {
    text-align: center;
    color: #3b3a30;
    font-family: Gill Sans, sans-serif;
}

.content > .contact-box > .contact {
    display: flex;
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #c0ded9;
    border-radius: 3px;
    cursor: pointer;
}

.content > .contact-box > .contact:hover {
    background-color: #b2c2bf;
}

.content > .contact-box > .contact > p {
    margin: 0px;
}

.content > .contact-box > .contact > i {
    margin-right: 10px;
}