.container {
    background-image:linear-gradient(to bottom, #eaece5, #c0ded9);
}

.content {
    display: flex;
    flex-direction: column;
}

.filter-box {
    margin: 75px auto;
    display: flex;
    width: 70%;
    height: 55px;
}

.filter-box > button {
    margin: auto;
    height: 100%;
    width: 120px;

    background-color: #f0f0f0;
    opacity: 0.7;

    border: 2px solid #9fa9a3;
    border-radius: 3px;
    color: #9fa9a3;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 20px;
}

.filter-box > button > span {
    opacity: 1;
    color: black;
}

.filter-box > button:hover {
    color: #b2c2bf;
    border: 2px solid #b2c2bf;
    cursor: pointer;
}

.products-box {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.products-box > .product-container > img {
    height: 160px;
    width: 250px;
}

.products-box > .product-container {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 3px;

    display: grid;
    grid-template-columns: 250px 200px auto 50px 50px;
    grid-gap: 20px;

    background-color: #b2c2bf;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.products-box > .product-container > h3 {
    font-size: 30px;
    margin-top: 50px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    text-align: center;
    color: #3b3a30;
}

.products-box > .product-container > p {
    margin-top: 50px;
    font-size: 25px;
    font-family: Brush Script MT;
    color: #f0f0f0;

    text-align: center;
}

.products-box > .product-container > button {
    height: 40px;
    border: 2px solid #3b3a30;
    color: #3b3a30;
    background-color: transparent;
    font-family: Brush Script MT;
    font-size: 20px;
    cursor: pointer;
}

.products-box > .product-container > button:hover{
    background-color: #c0ded9;
}