body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
	min-height: 100vh;
	position: relative;
}

.header {
	padding: 0px 30px;
	display: flex;
	background-color: #b2c2bf;
	position: relative;
}

.header > a {
	padding: 15px;
	margin: 0px 0px 0px 30px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	text-decoration: none;
}

.header > .logout {
	position: absolute;
	top: 0px;
	right: 30px;
}


.header > a:hover {
	background-color: #c0ded9;
}

.popup-container {
	position: absolute;
	height: 100%;
	width: 100%;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}

.popup-container > .overlay {
	width: 100%;
	height: 100%;
	background: #000;
	background-color: rgba(0, 0, 0, 0.4);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(10px);
}

.popup-container > .popup {
	padding: 30px 20px;
	font-weight: bold;
	background-color: #3b3a30;
	color: white;

	z-index: 100;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	padding: 20px 50px;
	text-align: center;
}

.popup > button {
	padding: 5px 10px;
	margin-left: 30px;
	background-color: transparent;
	border: 2px solid  #eaece5;
	color: white;
	cursor: pointer;
}

.popup > button:hover {
	background-color: #b2c2bf
}