body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
	min-height: 100vh;
	position: relative;
}

.header {
	padding: 0px 30px;
	display: flex;
	background-color: #b2c2bf;
}

.header > a {
	padding: 15px;
	margin: 0px 0px 0px 30px;
	font-weight: bold;
	color: white;
	cursor: pointer;
	text-decoration: none;
}

.header > a:hover {
	background-color: #c0ded9;
}