body, html {
	margin: 0;
	padding: 0;
	height: 100vh;
	background-color: #eaece5;
	font-family: Arial, Helvetica, sans-serif;
}

.header > img {
	height: 70%;
	width: 65px;
	margin: auto 20px auto auto;
	border-radius: 50%;
	cursor: pointer;

}

.header > h1 {
	text-align: center;
	font-weight: bold;
	color: #3b3a30;
}

.header {
	display: grid;
	grid-template-columns: 120px 200px auto;
	background-color: #b2c2bf;

	margin-bottom: 30px;
}

.login-container {
	margin: auto;
	margin-top: 150px;
	padding: 50px;
	width: 300px;
	background-color: #b2c2bf;
	display: flex;
	flex-direction: column;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-container > input {
	margin: auto;
	margin-bottom: 30px;
	padding: 5px;
	width: 200px;
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #3b3a30;
	outline: none;
}

.login-container > button {
	margin: auto;
	margin-top: 30px;
	padding: 5px 15px;
	width: 100px;
	background-color: transparent;
	border: 2px solid #3b3a30;
	outline: none;
	cursor: pointer;
	font-weight: bold;
}

.login-container > button:hover {
	background-color:#c0ded9;
}


.popup-container {
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}

.popup-container > .overlay {
	width: 100%;
	height: 100%;
	background: #000;
	background-color: rgba(255, 255, 255, 0.3);
	-webkit-backdrop-filter: blur(5px);
  	backdrop-filter: blur(10px);  
}

.popup-container > .popup {
	padding: 40px 60px;
	font-weight: bold;
	background-color: #3b3a30;

	color: white;

	z-index: 100;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	padding: 20px 50px;
	text-align: center;
}

.popup-container > .popup > button {
	margin: auto;
	padding: 5px 15px;
	width: 100px;
	background-color: transparent;
	border: 2px solid white;
	color: white;
	outline: none;
	cursor: pointer;
	font-weight: bold;
}

.popup-container > .popup > button:hover {
	background-color: #9fa9a3;
}