.container {
    background-image:linear-gradient(to bottom, #eaece5, #c0ded9);
}

.cart-box {
    display: flex;
    flex-direction: column;
}

.cart-details, .cart-products {
    margin: auto;
    margin-top: 30px;
    width: 80%;
}

.cart-details > p {
    text-align: center;
    font-size: 40px;
    color: #3b3a30;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.cart-product-container > img {
    height: 150px;
    width: 200px;
}

.cart-product-container {
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 200px auto 100px 250px;
    grid-gap: 20px;

    background-color: #b2c2bf;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cart-product-container > p {
    margin: auto;
    font-size: 25px;
    color: #3b3a30;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.cart-product-container > .quantity-box {
    display: flex;
}

.quantity-box > p, .quantity-box > button {
    margin: auto;
    font-size: 25px;
    color: #3b3a30;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

.quantity-box > button {
    padding: 0px 10px;
    background-color: transparent;
    border: 2px solid #3b3a30;
    color: #3b3a30;
    cursor: pointer;
}

.quantity-box > button:hover {
    border: 2px solid #c0ded9;
    color: #c0ded9;
}

.cart-box > button {
    width: 200px;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 20px;
    color: #3b3a30;
    font-family: Brush Script MT, Brush Script Std, cursive;
    background-color: transparent;
    border: 2px solid #3b3a30;
    cursor: pointer;
}

.cart-box > button:hover {
    border: 2px solid #eaece5;
    color: #eaece5;
}

.cart-box > p {
    font-size: 50px;
    color: #3b3a30;
    font-family: Brush Script MT, Brush Script Std, cursive;
    text-align: center;
    margin-top: 100px;
}